DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=egofit.ir,www.egofit.ir,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://egofit.ir,https://www.egofit.ir
DJANGO_TIME_ZONE=Asia/Tehran
DJANGO_USE_SQLITE=true

DJANGO_DB_NAME=egofitir_EgoFit_App
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=3306

ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=false
LIARA_PUBLIC_BASE_URL=https://egofit.ir
DJANGO_STATIC_ROOT=/home/egofitir/public_html/static
DJANGO_MEDIA_ROOT=/home/egofitir/public_html/media

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
ADMIN_EMAIL=

LIARA_ENDPOINT=
LIARA_BUCKET_NAME=
LIARA_ACCESS_KEY=
LIARA_SECRET_KEY=

GHASEDAK_API_KEY=
GHASEDAK_LINE_NUMBER=
GHASEDAK_OTP_TEMPLATE=randcode
GHASEDAK_OTP_PARAM=param1
